.Home {
  background-color: ghostwhite;
  height: 100vh;
}
hr{
  border: 0;
  border-top: 1px solid blue;
  width:10%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
